.navList {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  .wrapper {
    display: flex;
    flex: 2 2;
    flex-direction: row;
    justify-content: space-around;
    .item {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      &:focus,
      &:hover {
        color: aqua;
      }
    }
  }
  .wrapper2 {
    flex: 8 8;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
  }
}
